%h1{class: 'text-3xl font-bold text-gray-400 mt-8 ml-20'} Your Albums

- if @albums.size < 1
  = render 'empty'
- else
  .grid.grid-cols-3.place-items-center.mt-10
    - @albums.each do |album|
      %a.cursor-pointer{href: album_path(album.id)}
        .grid.w-full.place-items-center.stack
          - album.photos.take(3).each_with_index do |photo, index|
            %img{class: "border-8 border-white bg-white h-[250px] w-fit object-contain rounded-lg transition-transform #{index > 0 ? randomize_rotation : 'z-10 hover:rotate-6'}", src: photo&.url, alt: photo&.title}
        %p.text-gray-600.mt-6.text-center.font-semibold.text-md= album.title
        %p.text-gray-400.text-center.text-sm.mt-1= "#{album.photos.size} photos"

  .flex.justify-center.mt-20
    != pagy_nav(@pagy)