.flex.flex-col.items-center.gap-4
  %h1{class: "title"} Photobox
  %h2.text-lg.font-semibold.text-gray-500 Take, collect, and share your memories instantly from your camera

.flex.flex-col.gap-8.mt-24
  %h3{class: 'text-3xl font-bold text-gray-500 mx-32'} Your Albums
  - if @albums.size < 1
    = render 'empty'
  - else
    .grid.grid-cols-3.place-items-center
      - @albums.each do |album|
        %a.cursor-pointer{href: album_path(album.id)}
          .grid.w-full.place-items-center.stack
            - album.photos.take(3).each_with_index do |photo, index|
              %img{class: "border-8 border-white bg-white h-[250px] w-fit object-contain rounded-lg transition-transform #{index > 0 ? randomize_rotation : 'z-10 shadow-sm hover:rotate-6'}", src: photo&.url, alt: photo&.title}
          %p.text-gray-600.mt-6.text-center.font-semibold.text-md= album.title
          %p.text-gray-400.text-center.text-sm.mt-1= "#{album.photos.size} photos"

-# floating action button
%button{class: 'flex items-center justify-center bg-violet-500 fixed bottom-8 left-[50%] -translate-x-1/2 w-[64px] h-[64px] z-20 p-4 rounded-full shadow-md transition hover:shadow-2xl hover:bg-violet-600 hover:-translate-y-4'}
  %svg.w-7.h-7.text-white{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
    %path{:d => "M6.827 6.175A2.31 2.31 0 015.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 00-1.134-.175 2.31 2.31 0 01-1.64-1.055l-.822-1.316a2.192 2.192 0 00-1.736-1.039 48.774 48.774 0 00-5.232 0 2.192 2.192 0 00-1.736 1.039l-.821 1.316z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
    %path{:d => "M16.5 12.75a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM18.75 10.5h.008v.008h-.008V10.5z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
