.flex.p-6
  %a{href: root_path}
    %svg.w-6.h-6{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
      %path{:d => "M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75", "stroke-linecap" => "round", "stroke-linejoin" => "round"}

- if mobile_phone?
  = form_with html: { class: 'flex flex-col justify-center items-center h-[calc(100vh-72px)]' } do |form|
    = form.file_field :camera, class: 'hidden', accept: 'image/*;capture=camera'
    = form.label :camera, class: 'flex flex-col justify-center items-center font-medium text-gray-600' do
      = image_tag("camera.png", class: 'w-56')
      Click to open your camera
- else
  %div{class: 'flex flex-col justify-center items-center h-[calc(100vh-72px)] gap-6'}
    %h1.font-bold.text-6xl.text-gray-800 Oops!
    %h2.font-semibold.text-gray-600 We're Failed to Open Your Camera
    = image_tag('oops.png')
    %p.text-sm.font-medium.text-gray-600.text-center.px-6.whitespace-pre-line
      To access the camera you need to
      open on the mobile browser